#gallery-wrapper {
    width: 960px;
    height: 427px;
    margin 0 auto;
    overflow: hidden;
}

#gallery-container {
    position: relative;
}

#gallery-panel,
#gallery-thumbs {
    position: absolute;
}

#largeImage,
#galleryPanel {

}

#largeImage {
    float: left;
}

#description-container {
    margin: 223px 0 0 490px;
    padding: 5px;
}

#gallery-panel {
    width: 100%;
    top: 0;
    left: 0;
}

#gallery-thumbs {
    width: 484px;
    top: 0;
    right: 0;
    text-align: right;
}

.thumb {
    margin: 0;
    padding: 0 0 0 1px;
    cursor: pointer;
}

.view {
    display: none;
}
